<!DOCTYPE html>
<!--[if IE ]><html lang="en-US" class="lt-ie ie" {{ HTML_ATTRS }}><![endif]-->
<!--[if (gt IE)|!(IE)]><!--><html {{ HTML_ATTRS }}><!--<![endif]-->
  <head>
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    <!--[if lte IE 9]>
      <div class="notification is-danger">
        <p>Please upgrade your browser, cause it's old as dirt and you should be ashamed.</p>
      </div>
    <![endif]-->
    <!--[ifIE]>
      <div class="notification is-warning">
        <p>Please upgrade your browser, cause it's old as dirt and you should be ashamed.</p>
      </div>
    <![endif]-->
    {{ APP }}
  </body>
</html>
