@charset "utf-8"

@import "base/basic"
@import "~bulma/sass/utilities/_all"
@import "~bulma/sass/base/_all"
@import "~bulma/sass/elements/_all"
@import "~bulma/sass/components/_all"
@import "~bulma/sass/grid/_all"
@import "~bulma/sass/layout/_all"
@import '~buefy/src/scss/buefy'

$fa-font-path: "/font-awesome-5-pro"
@import "~assets/font-awesome-5-pro/fontawesome.scss"


//@import "~bulma/sass/utilities/_all"
$white: #FFF
$red: #E03E39
.hero
  position: relative
.is-overlay img
  width: 100%
  height: 100%
  object-fit: cover
.formulario
  background: $white
  text-align: left
.container
  max-width: 900px
  padding: 1rem
.is-centered
  text-align: center
.is-relative
  +tablet
    background: $white
    margin-top: -3rem
    padding: 1rem
