<template>
  <form
    @submit.prevent="sendForm"
    class="box">
    <div class="columns is-multiline">
      <section class="column">
        <b-field label="Nombre">
          <b-input
            type="text"
            v-model="model.Nombre"
            name="Nombre"
            required/>
        </b-field>
        <b-field label="Correo">
          <b-input
            type="email"
            v-model="model.Correo"
            name="Correo"
            required/>
        </b-field>
      </section>
      <section class="column">
        <b-field label="Edad de tu hij@">
          <b-input
            type="number"
            v-model="model['Edad del Hijo']"
            name="Edad del Hijo"
            required/>
        </b-field>
        <b-field label="Teléfono">
          <b-input
            type="tel"
            v-model="model.Teléfono"
            name="Teléfono"
            required/>
        </b-field>
      </section>
      <section class="column is-12">
        <b-field
          label="Comentarios"
          placeholder="¡Platícanos qué plan escolar estás buscando!">
          <b-input
            type="textarea"
            v-model="model.Comentarios" />
        </b-field>
      </section>
    </div>
    <section>
      <div class="level">
        <div class="level-left">
          <div class="field">
            <b-checkbox
              v-model="TOS"
              :required="true">
              Acepto el Aviso de privacidad.
            </b-checkbox>
          </div>
        </div>
        <div class="level-right">
          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <button
                type="submit"
                class="button is-info is-outlined">Enviar</button>
            </p>
          </div>
        </div>
      </div>
    </section>
    <b-loading :active="loading"/>
  </form>
</template>

<script>
/* eslint-disable no-console */
import axios from 'axios'

export default {
  name: 'TheForm',
  data: () => ({
    // Models
    TOS: false,
    loading: false,
    model: {
      Fecha: '',
      Nombre: '',
      Teléfono: '',
      Correo: '',
      'Edad del Hijo': '',
      Comentarios: '',
      sheetDestiny: 'CursoVerano',
      pagina: '',
      'Enviado desde': 'Formulario de curso de verano',
      sendTo: 'informes@summerhills.com.mx',
    },
  }),
  mounted() {
    if (process.browser) {
      this.pagina = window.location.href
    }
    const today = new Date()
    this.model.Fecha = today.toLocaleString()
  },
  methods: {
    handleResponse(response) {
      if (response && response.result) {
        this.isSuccess()
      } else if (response && response.mailResult.status) {
        console.warn('No se guardó en el drive, pero se envió al correo')
        this.isSuccess()
      } else {
        console.error('Algo malo sucede')
        this.isError()
      }
    },
    isSuccess() {
      this.$toast.open({
        duration: 5000,
        message: 'Tu solicitud se envió correctamente',
        position: 'is-bottom',
        type: 'is-success',
      })
    },
    isError() {
      this.$toast.open({
        duration: 5000,
        message: 'Hubo un error enviando tu solicitud. Intentalo más tarde',
        position: 'is-bottom',
        type: 'is-danger',
      })
    },
    formatModel() {
      const formData = new FormData()
      Object.keys(this.model).forEach(key => formData.append(key, String(this.model[key])))
      return formData
    },
    sendForm() {
      if (!this.TOS) {
        this.$toast.open({
          duration: 5000,
          message: 'Necesitas aceptar las políticas de privacidad.',
          position: 'is-bottom',
          type: 'is-danger',
        })
        return
      }
      this.loading = true
      const url = 'https://script.google.com/macros/s/AKfycbx2mc90HR1MssnMvAeTLIUg0sEYrLYXbg9ujY5QkxVdcSqR5vM/exec'
      const vm = this
      const formData = this.formatModel()
      axios.post(url, formData, {
        headers: {
          'Content-Type': 'application/formdata',
        },
      }).then(({ data }) => {
        vm.loading = false
        vm.handleResponse(data)
        const today = new Date()

        vm.model.Fecha = today.toLocaleString()
        vm.model.Nombre = ''
        vm.model.Teléfono = ''
        vm.model.Correo = ''
      }).catch(() => {
        this.loading = false
        vm.$toast.open({
          duration: 5000,
          message: 'Hubo un error enviando tu solicitud. Intentalo más tarde',
          position: 'is-bottom',
          type: 'is-danger',
        })
      })
    },
  },
}
</script>

<style lang="scss" scoped>

</style>
