<template>
  <div class="head"/>
</template>
<script>
export default {
  name: 'TheHeader',
  data: () => ({
    menuStatus: false,
  }),
  watch: {
    $route() {
      if (this.menuStatus) {
        this.menuStatus = false
      }
    },
  },
}
</script>
<style lang="sass" scoped>
@import "~bulma/sass/utilities/_all"
.head
  position: absolute
  top: 0
  height: 90px
  z-index: 3
  width: 100%
  .logo
    +mobile
      width: 180px
    +tablet
      width: 230px
    margin: 0 auto
    display: block
</style>
