<template>
  <div>
    <the-header/>
    <nuxt/>

    <div
      class="modal"
      :class="{'is-active' : showModal}">
      <div class="modal-background" />
      <div class="modal-content">
        <div class="modal-card">
          <div class="modal-card-head">
            <p class="modal-caard-head">Aviso de privacidad</p>
          </div>
          <div class="modal-card-body">
            <p>En cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y de su Reglamento (en adelante la Ley), y con el fin de asegurar la protección y privacidad de los datos personales, así como regular los derechos de acceso, rectificación, cancelación y oposición del tratamiento de los mismos, CENTRO DE ESTUDIOS SUPERIORES Y LENGUAS EXTRANJERAS, S.C., le comunica el presente Aviso.</p>
            <h3 class="title is-3">Responsable</h3>
            <p>CENTRO DE ESTUDIOS SUPERIORES Y LENGUAS EXTRANJERAS S.C (en adelante el Responsable), ubicada en Yautepec no. 72, colonia Condesa, Cuauhtemoc, Distrito Federal, es responsable de proteger la confidencialidad de los datos personales, datos personales sensibles y datos personales financieros o patrimoniales de sus alumnos, aspirantes a alumnos, exalumnos, egresados, y de sus padres o tutores, así como de garantizar su privacidad y su derecho a la autodeterminación informativa.</p>
            <p>El ejercicio de los derechos de acceso, rectificación, cancelación, oposición, limitación de uso o la revocación del consentimiento, podrá solicitarse por escrito al Departamento de Privacidad en el correo electrónico ceslesc@yahoo.com.mx</p>
            <p>Política de Privacidad</p>
            <p>Este Aviso tiene como fin asegurar la privacidad de los datos proporcionados por nuestros alumnos, aspirantes a alumnos, exalumnos,  egresados, y de sus padres o tutores, con el fin de vincularse con los servicios académicos proporcionados por el Responsable.</p>
            <p>Al proporcionar sus datos personales el titular está de acuerdo en su tratamiento, conforme este término se entiende en la fracción XVIII del artículo 3 de la Ley. En caso de no estar de acuerdo el titular no deberá proporcionar dato alguno.</p>

            <h3 class="title is-3">Finalidades</h3>
            <p>El Responsable puede recabar datos personales, datos personales sensibles y datos personales financieros o patrimoniales, con algunas de las siguientes finalidades:</p>
            <p>Prestación de servicios educativos; integración del expediente académico; integración del expediente administrativo; información de contacto para enviar comunicados; información de contacto para localizar a los padres o tutores; analizar solicitudes de becas; decidir sobre descuentos o recargos; evaluar calidad en el servicio, realizar estadísticas sobre los servicios educativos y actividades deportivas y culturales; cumplir con requerimientos de la Secretaría de Educación Pública y demás autoridades gubernamentales. y, en general, para fines mercadotécnicos, publicitarios o de prospección comercial.</p>

            <h3 class="title is-3">Datos Personales</h3>
            <p>Pueden ser objeto de tratamiento los siguientes datos personales, datos personales sensibles y datos personales financieros o patrimoniales, que se presentan en forma enunciativa, no limitativa:</p>
            <ol class="is-inside">
              <li>Datos de identificación: nombre completo, edad, fecha y lugar de nacimiento, género, estado civil, domicilio, nacionalidad, correo electrónico, teléfonos de contacto, Clave Única del Registro de Población, Número de Seguridad Social, clave del Registro Federal de Contribuyentes, firma, religión, huella digital, ADN, nombres de los Padres y hermanos.</li>
              <li>Datos Académicos: nombre y domicilio de escuela de procedencia, trayectoria educativa, calificaciones y certificados emitidos por otras instituciones, idiomas, título profesional, número de cédula profesional, certificados de estudios, antecedentes escolares.</li>
              <li>Datos de Salud: Estado de salud, historial clínico, enfermedades, restricciones alimenticias, alergias, grupo sanguíneo, donador de órganos, cuestiones de carácter psicológico y psiquiátrico, datos de su doctor, tratamientos médicos o psicológicos que recibe, datos de contactos para caso de emergencia.</li>
              <li>Datos sobre los padres o tutores: nombre completo del padre y la madre o tutor y tutora del alumno, nombre completo, edad y escolaridad de todos sus hijos, domicilio completo de la familia o de cada uno de los padres si están separados, así como sus teléfonos y correos electrónicos, datos completos del domicilio del trabajo, empleo o negocio  del padre y/o de la madre incluyendo teléfonos y correos, ocupación, puesto que desempeña, grado de estudios, estado civil, horarios del trabajo, etc. RFC, CURP y domicilio fiscal para la facturación electrónica.</li>
              <li>Datos financieros o patrimoniales: Bienes muebles e inmuebles, ingresos y egresos personales, ingresos y egresos de los padres, cuentas bancarias, referencias personales, información fiscal. reporte de buro de crédito, declaraciones de impuestos, recibos de nómina  y en general datos sobre la situación económica de la familia.</li>
              <li>Datos sensibles: aficiones, deportes, creencias religiosas, afiliación política, afiliación sindical, asociaciones religiosas o políticas a las que ha pertenecido, actividades extracurriculares. datos sobre el comportamiento del alumno en lo social, familiar,  emotivo, salud, deportivo, etc.; datos solicitados en entrevistas de admisión y/o de seguimiento que permitan evaluar al alumno y su familia o entorno familiar.</li>
              <li>Características físicas: foto, color de piel, de iris y de pelo, huella digital, cicatrices o señales particulares.</li>
            </ol>
            <p>En caso de no contar con algunos de los datos citados, podría existir la posibilidad de que el Responsable no pueda proporcionar los servicios propios de la relación jurídica que se establezca con el Titular.</p>
            <p>Asimismo se informa que para cumplir con las finalidades previstas en el presente Aviso, serán recabados y tratados datos personales sensibles descritos en los incisos anteriores. Es por esto que el Responsable se compromete a que los mismos sean tratados bajo estrictas medidas de seguridad, garantizando su confidencialidad.</p>

            <h3 class="title is-3">Principios</h3>
            <p>El Responsable observa los principios de confidencialidad, licitud, consentimiento, información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad en la protección de datos personales.</p>

            <h3 class="title is-3">Transferencia de Datos</h3>
            <p>El Responsable podrá realizar las transferencias nacionales o internacionales de datos sin el consentimiento del titular en los casos previstos en la Ley y en su Reglamento.</p>
            <p>También podrá realizar transferencias de datos a entidades proveedoras de servicios para el cumplimiento de las obligaciones contractuales acordadas.</p>
            <p>Los terceros y las entidades receptores de datos personales, asumirán las mismas obligaciones y/o responsabilidades que el Responsable ha asumido con el titular en el presente Aviso.</p>
            <p>El titular de datos personales que establece una relación jurídica con el Responsable acepta que sus datos personales podrían ser transferidos en los términos descritos en la Ley, su Reglamento y el presente Aviso de Privacidad.</p>

            <p>Opciones y medios para limitar el uso o divulgación de los datos personales</p>
            <p>El tratamiento de sus datos personales será el que resulte necesario, adecuado y relevante en relación con las finalidades previstas en este Aviso de Privacidad.</p>
            <p>El Responsable cuenta con las medidas de seguridad, administrativas, técnicas y físicas necesarias y suficientes para proteger sus datos personales contra daño, pérdida, alteración, destrucción, uso, acceso o tratamiento no autorizado.</p>
            <p>Los datos personales son salvaguardados en bases de datos y equipos de cómputo que cuentan con la seguridad necesaria para prevenir fugas de información. Controles de acceso físico y lógico, controles ambientales, sistemas de protección anti intrusos (IPS, Firewal), herramientas de protección antivirus y filtrado web son algunas de las herramientas utilizadas para mantener la seguridad de los datos en los sistemas de el Responsable.</p>
            <p>Si el titular desea solicitar la limitación del uso o divulgación de sus datos personales puede hacerlo en el Departamento de Privacidad en el correo electrónico ceslesc@yahoo.com.mx</p>

            <h3 class="title is-3">Derechos de los Titulares de Datos Personales</h3>
            <p>Cualquier titular o, en su caso, su representante legal podrá ejercer los derechos de acceso, rectificación, cancelación y oposición sobre sus datos personales, y el Responsable proveerá los medios que le permitan un oportuno ejercicio de sus derechos. El ejercicio de los derechos de acceso, rectificación, cancelación, oposición, limitación de uso o la revocación del consentimiento, deberán solicitarse por escrito únicamente ante Departamento de Privacidad en el correo electrónico ceslesc@yahoo.com.mx</p>
            <h3 class="title is-3">Procedimiento para el Ejercicio de los Derechos</h3>
            <p>La solicitud, por escrito vía correo electrónico, de acceso, rectificación, cancelación, oposición, limitación de uso o la revocación del consentimiento, deberá contener y acompañar lo siguiente:</p>
            <ul class="is-inside">
              <li>i.  El nombre del titular y domicilio u otro medio para comunicarle la respuesta a su solicitud,</li>
              <li>ii.  Los documentos que acrediten su identidad o, en su caso, la representación legal del titular,</li>
              <li>iii.  La descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los derechos antes mencionados, y</li>
              <li>iv.  Cualquier otro elemento o documento que facilite la localización de los datos personales.</li>
              <li>v.  Para el caso de las solicitudes de rectificación el titular deberá indicar las modificaciones a realizarse y aportar la documentación que sustente su petición</li>
            </ul>
            <p>El Responsable comunicará al titular, en veinte días hábiles contados desde la fecha en que se recibió la solicitud de acceso, rectificación, cancelación u oposición, la determinación adoptada a efecto de que, si resulta procedente, se haga efectiva la misma dentro de los quince días hábiles siguientes a la fecha en que se comunica la respuesta. Los plazos antes referidos, podrán ser ampliados una sola vez por un periodo igual, siempre y cuando así lo justifiquen las circunstancias del caso.</p>

            <h3 class="title is-3">Acceso</h3>
            <p>La obligación de acceso a la información se dará por cumplida cuando se pongan a disposición del titular los datos personales.</p>

            <h3 class="title is-3">Revocación</h3>
            <p>El titular de los datos personales podrá revocar su consentimiento para el tratamiento de datos personales en cualquier momento, debiendo, únicamente para tales efectos enviar una solicitud por escrito al Departamento de Privacidad en el correo electrónico ceslesc@yahoo.com.mx</p>
            <p>Dentro de los siguientes veinte días hábiles contados desde la fecha en que se recibió la solicitud de revocación el Responsable informará al titular sobre la procedencia o improcedencia de la misma y si resulta procedente la hará efectiva dentro de los quince días hábiles siguientes a la fecha en que se comunica la respuesta al correo electrónico que el titular proporcione.</p>

            <h3 class="title is-3">Cambios a este Aviso</h3>
            <p>El Responsable se reserva el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso de privacidad, para la atención de novedades legislativas o jurisprudenciales, políticas internas, nuevos requerimientos para la prestación u ofrecimiento de los servicios que ofrece El Responsable.</p>
            <p>Estas modificaciones estarán disponibles a través de la página de internet:   www.summerhills.com.mx</p>

            <h3 class="title is-3">Consentimiento general</h3>
            <p>Habiéndose puesto a disposición del Titular este Aviso de Privacidad y sus modificaciones, ya sea personalmente o a través de la página de internet o de otros medios, y no habiendo manifestado inmediatamente oposición alguna, se entenderá que el titular ha consentido tácitamente el tratamiento de sus datos.</p>
            <p>Si el titular proporcionó sus datos verbalmente, por escrito, por medios electrónicos, ópticos o por cualquier otra tecnología, o por signos inequívocos, se entenderá que ha dado su consentimiento expreso.</p>

            <h3 class="title is-3">Consentimiento expreso</h3>
            <p>De conformidad con los artículos aplicables de la Ley Federal para la Protección de Datos Personales en Posesión de los Particulares, por medio de la presente i. el titular reconoce que ha leído este Aviso de Privacidad y entendido sus alcances; ii. el titular otorga su consentimiento expreso para el tratamiento de sus datos personales, datos personales sensibles y datos personales financieros o patrimoniales para los fines establecidos en este Aviso de Privacidad; y iii. el titular acepta que el Responsable pueda transferir sus datos personales, datos personales sensibles y datos personales financieros o patrimoniales a terceros distintos del encargado.</p>
            <p>Este consentimiento expreso puede documentarse a través de firma autógrafa, firma electrónica o cualquier mecanismo de autenticación.</p>
          </div>
        </div>
      </div>
      <button
        class="modal-close is-large"
        @click="showModal = false"
        aria-label="close" />s
    </div>
    <div class="footer">
      <div class="container">
        <span>&copy; Sumerhills 2018.</span>

        <a
          class="is-link"
          @click="showModal = true">
          Aviso de privacidad.
        </a>

        <a
          class="is-link"
          target="_blank"
          href="http://facebook.com/SummerHillsDaycare">
          <i class="fab fa-facebook-square" />
          /SummerHillsDaycare
        </a>

      </div>
    </div>
  </div>
</template>

<script>
import TheHeader from '~/components/TheHeader'

export default {
  name: 'DefaultLayout',
  components: {
    TheHeader,
  },
  data: () => ({
    showModal: false,
  }),
}
</script>

<style lang="sass" scoped>
.is-inside
  margin: 1rem
  list-style-position: inside
.footer
  .container
    display: flex
    justify-content: space-between
</style>
