<template>
  <div>
    <div class="hero is-halfheight is-info">
      <div class="hero-head">
        <div class="container">
          <div class="tabs">
            <ul>
              <li
                v-for="(tab, index) in tabs"
                :class="tab.tag === activeTab ? 'is-active': ''"
                @click="activeTab = tab.tag"
                :key="index">
                <a>{{ tab.tag }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="hero-body">
        <div class="container">
          <div
            v-for="tab in tabs"
            :key="tab.color"
            v-if="tab.tag === activeTab"
            :class="['notification', `is-${tab.color}`]">
            <h1 class="title has-text-centered">Content of {{ tab.tag }}</h1>
          </div>
        </div>
      </div>
    </div>
    <section class="section">
      <div class="container">
        <h1 class="title">Formulario</h1>
        <generic-form/>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <h1 class="title">Imagenes responsivas</h1>
        <image-responsive src="placeholder/example"/>
      </div>
    </section>
  </div>
</template>

<script>
import GenericForm from '~/components/GenericForm'
import ImageResponsive from '~/components/ImageResponsive'

export default {
  name: 'DemoPage',
  head() {
    return {
      title: 'Demo',
    }
  },
  components: {
    GenericForm,
    ImageResponsive,
  },
  data: () => ({
    activeTab: 'Music',
    tabs: [
      { tag: 'Music', color: 'danger' },
      { tag: 'Videos', color: 'primary' },
      { tag: 'Documents', color: 'black' },
      { tag: 'Pictures', color: 'warning' },
    ],
  }),
}
</script>

<style>

</style>
