<template>
  <div class="index">
    <div class="hero is-info is-fullheight">
      <div class="is-overlay">
        <picture>
          <source
            media="(max-width: 799px)"
            srcset="images/verano-movil.jpg">
          <source
            media="(min-width: 800px)"
            srcset="images/verano-desktop.jpg">
          <img
            src="images/verano-desktop.jpg"
            alt="Sumerhills">
        </picture>
      </div>
      <div class="hero-body has-text-right">
        <div class="container ">
          <div class="columns">
            <div class="column column is-8 is-offset-4">
              <img
                src="images/summerhills_logo.png"
                class="main_logo" >
              <h1 class="title is-hidden-mobile is-hidden-tablet-only">En Summer Hills el verano es aprendizaje y diversión para los más pequeños de la casa</h1>
              <p class="subtitle is-3 is-hidden-mobile is-hidden-tablet-only">Tenemos todo lo que necesitas...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container ">
      <h1 class="title is-hidden-desktop">En Summer Hills el verano es aprendizaje y diversión para los más pequeños de la casa</h1>
      <p class="subtitle is-3 is-hidden-desktop">Tenemos todo lo que necesitas...</p>

      <div class="columns is-multiline">
        <div class="column">
          <ul class="paddme">
            <li><i class="fas fa-check"/>Clase de natación los miércoles</li>
            <li><i class="fas fa-check"/>Tres paseos</li>
            <li><i class="fas fa-check"/>Diversión bilingüe</li>
            <li><i class="fas fa-check"/>¡Diferentes talleres! (barro, títeres, joyería, cocina. reciclado y pintura)</li>
            <li><i class="fas fa-check"/>El costo de nuestro curso de verano incluye transporte de los paseos, seguro de transporte y material</li>
          </ul>
        </div>
        <div class="column">
          <div class="video-container">
            <iframe
              src="https://www.youtube.com/embed/jawSMQEOBos"
              frameborder="0"
              allow="autoplay; encrypted-media"
              allowfullscreen />
          </div>
        </div>
        <div class="column is-12 has-text-center">
          Déjanos tus datos y nosotros te contactamos para darte una atención 100% personalizada. O si lo prefieres, márcanos y con gusto te atenderemos <a href="tel: 55539766"> <i class="fas fa-phone"/> 55539766 </a>  <a href="tel: 52866891"> <i class="fas fa-phone"/> 52866891</a>
        </div>
      </div>
      <div class="formulario">
        <generic-form/>
      </div>
      <div class="banner">
        <picture>
          <source
            media="(max-width: 799px)"
            srcset="images/summerhills_movil.jpg">
          <source
            media="(min-width: 800px)"
            srcset="images/summerhills_desktop.jpg">
          <img
            src="images/summerhills_desktop.jpg"
            alt="Sumerhills">
        </picture>
        <div class="content">
          <h3 class="title is-3">¡Comienza el próximo ciclo escolar en Summer Hills! </h3>
          <a
            href="http://inscripciones.summerhills.com.mx/"
            target="_blank"
            class="button is-secondary">
            Inscripciones
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GenericForm from '~/components/GenericForm'

export default {
  name: 'Index',
  head: {
    title: 'Curso de verano',
  },
  components: {
    GenericForm,
  },
  data: () => ({
    isCardModalActive: false,
  }),
}
</script>

<style lang="sass" scoped>
@import "~bulma/sass/utilities/_all"
$white: #FFF
$red: #E03E39
$green: #1ca7b1

.tilted
  transform: rotate(-6deg)
.inline-titles
  display: block
  margin-bottom: 1.5rem
  .title, .subtitle
    display: inline
.medal
  align-items: center
.hero
  position: relative
  padding-top: 1rem
  text-shadow: 1px 1px 2px $black
  .container
    +desktop
      margin-bottom: -10rem
.is-overlay img
  width: 100%
  height: 100%
  object-fit: cover
  object-position: left
.formulario
  background: $white
  text-align: left
.container
  max-width: 900px
  padding: 1rem
.is-centered
  text-align: center
.is-relative
  +mobile
    position: relative
    top: 3rem
  +tablet
    background: $white
    margin-top: -3rem
    padding: 1rem
.mobilefix
  +mobile
    font-size: 1.4rem !important
  +tablet
    font-size: 2rem
.is-copytext
  margin-top: -120vh
  position: fixed
.main_logo
  +mobile
    width: 12rem
    height: 12rem
    position: relative
    top: -14rem
  +tablet
    width: 16rem
    height: 16rem
  +desktop
    width: 8rem
    height: 8rem
.banner
  background: $blue
  overflow: hidden
  border: 1px solid $white
  position: relative
  margin: 1rem auto
  border-radius: 1rem
  +mobile
    width: 90vw
    height: 600px
  +tablet
    width: 60vw
    height: 290px
  img
    object-fit: cover
    object-position: top
    position: absolute
    width: 100%
    +mobile
      height: 396px
    +tablet
      height: 100%
    height: 50%
  .content
    position: absolute
    z-index: 3
    text-align: right
    color: $white
    +mobile
      width: 90%
      margin: 300px auto 0 auto
    +tablet
      width: 50%
      margin-left: 45%
    .title
      color: $white
      text-shadow: 1px 1px 2px $black
    ul
      list-style-type: none
.paddme
  padding: 2rem
.has-text-center
  text-align: center
.video-container
  position: relative
  padding-bottom: 56.25%
  padding-top: 30px
  height: 0
  overflow: hidden
.video-container iframe,
.video-container object,
.video-container embed
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
.fa-check
  color: $green
  margin-right: .7rem
</style>
